{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Web Chef</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'materialize.css' %}"  media="screen,projection"/>
    <link rel="stylesheet" href="{% static 'style.css' %}">


  </head>
  {% for header in header %}
  <style media="screen">
    body {
      background-image: url({{header.image}});
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-color: #464646;
    }
  </style>

  <body>
    <div class="cms-nav">
      <a href="{% url 'logout' %}" class="btn waves-effect waves-light">Logout</a>
      <a href="/hdr_frm" class="btn waves-effect waves-light">Edit</a>
    </div>
    <nav id="bg-transparent">
      <div class="nav-wrapper" >
        <div id="left-margin-50">
          <a href="#" class="brand-logo">Dope</a>
        </div>
        <ul id="nav-mobile" class="right hide-on-med-and-down" >
          <li><a href="#">Home</a></li>
          <li><a href="#menujump">Menu</a></li>
          <li id="right-margin-50"><a href="#articlejump">Our Story</a></li>
        </ul>
      </div>
    </nav>

    <header class="container">
      <section class="content">
        <h1>{{header.title}}</h1>
      </section>
    </header>

    <main>
      <div class="menu-container" id="menujump">
        <div class="section-title">
          <h2>Our Menu</h2>
        </div>
        <div class="grid">
          {% for item in items %}
          <div class="menu-item">
            <h5> {{ item.menu_item }} </h5>
            <p> {{ item.item_info }} </p>
            <hr>
          </div>
          {% endfor %}
        </div>
      </div>

      {% for article in article %}
      <div class="ourstory-container" id="articlejump">
        <div class="ourstory-description">
          <h2> {{ article.article_title }} </h2>
          <p> {{ article.article }} </p>
        </div>
      </div>
      {% endfor %}
    </main>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'app.js' %}"></script>
    <script src="{% static 'materialize.js' %}"></script>
  </body>
  {% endfor %}
</html>
