{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Web Chef</title>
    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'materialize.css' %}"  media="screen,projection"/>
    <!-- Compiled and minified JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> -->
  <link rel="stylesheet" href="{% static 'style.css' %}">

  </head>
  {% for header in header %}
  <style media="screen">
    body {
      background-image: url({{header.image}});
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-color: #464646;
    }
  </style>

  <body>
    <nav id="bg-transparent">
      <div class="nav-wrapper" >
        <div id="left-margin-50">
          <a href="#" class="brand-logo">Dope</a>
        </div>
        <a id="displaylogout" href="{% url 'logout' %}" class="btn waves-effect waves-light">Logout</a>
        <a id="displayedit" href="/hdr_frm" class="btn-large waves-effect waves-light">Edit</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down" >
          <li><a href="#">Home</a></li>
          <li><a href="#menujump">Menu</a></li>
          <li id="right-margin-50"><a href="#articlejump">Our Story</a></li>
        </ul>
      </div>
    </nav>

    <header class="container">
      <section class="content">
        <h1>{{header.title}}</h1>
      </section>
    </header>

    {% for article in article %}

    <div id="articlejump" class="articlewrapper">
      <h2> {{ article.article_title }} </h2>
      <h4> {{ article.article }} </h4>
    </div>

    {% endfor %}

    {% for item in items %}
    
    <div id="menujump">
      <h2> {{ item.menu_item }} </h2>
      <h4> {{ item.item_info }} </h4>
    </div>

    {% endfor %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'app.js' %}"></script>
    <script src="{% static 'materialize.js' %}"></script>
  </body>
  {% endfor %}
</html>
