{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'materialize.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'style.css' %}"/>

  </head>
  {% for header in header %}
  <style media="screen">
    body {
      background-image: url({{header.image}});
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-color: #464646;
    }
  </style>

  <body>
    <nav id="bg-transparent">
      <div class="nav-wrapper" >
        <div id="left-margin-50">
          <a href="#" class="brand-logo">Dope</a>
        </div>
        <ul id="nav-mobile" class="right hide-on-med-and-down" >
          <li><a href="sass.html">Home</a></li>
          <li><a href="badges.html">Menu</a></li>
          <li id="right-margin-50"><a href="collapsible.html">Our Story</a></li>
        </ul>
      </div>
    </nav>

    <header class="container">
      <section class="content">
        <h1>{{header.title}}</h1>
      </section>
    </header>
    <main>
      <div class="menu-container">
        <div class="section-title">
          <h2>Our Menu</h2>
        </div>
        <div class="grid">
          <div class="menu-item">
            <h5>Braised Ribs</h5>
            <p>Nuts, dried fruit, egg yolk, snickers bar</p>
            <hr>
          </div>
          <div class="menu-item">
            <h5>Fancy Shmancy Thing</h5>
            <p>Some fancy stuff, more fancy, gold flakes</p>
            <hr>
          </div>
          <div class="menu-item">
            <h5>Braised Ribs</h5>
            <p>Nuts, dried fruit, egg yolk, snickers bar</p>
            <hr>
          </div>
          <div class="menu-item">
            <h5>Fancy Shmancy Thing</h5>
            <p>Some fancy stuff, more fancy, gold flakesSome fancy stuff</p>
            <hr>
          </div>
        </div>
      </div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'app.js' %}"></script>
    <script src="{% static 'materialize.js' %}"></script>
  </body>
  {% endfor %}
</html>
