{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Web Chef</title>
    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'materialize.css' %}"  media="screen,projection"/>
    <!-- style.css -->
    <link type="text/css" rel="stylesheet" href="{% static 'style.css' %}"/>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="cms-nav">
      <a href="{% url 'logout' %}" class="btn waves-effect waves-light">Logout</a>
      <a href="/home" class="btn waves-effect waves-light">Preview</a>
    </div>

  <h3 class="formhs">Give a background and Page Title!</h3>
  <form id="headerform" action="/post_url/" method="POST">
      {% csrf_token %}
      <input type="text" name="image" value="" placeholder="image url here">
      <input type="text" name="title" value="" placeholder="header title here">
      <input id="cmsubmit" class="btn waves-effect waves-light" type="submit" value="Submit"/>
  </form>

<div class="cms-form">
  <h3 class="formhs">Make Menu Items!</h3>
  <form id="menuitemform" action="/item/" method="post">
      {% csrf_token %}
      <input type="text" name="menu_item" value="" placeholder="menu item">
      <input type="text" name="item_info" value="" placeholder="item description">
      <input id="itemsubmit" class="btn waves-effect waves-light" type="submit" value="Submit"/>
  </form>

  <h3 class="formhs">Write About Your Business</h3>
  <form id="articleform" action="/about/" method="post">
    {% csrf_token %}
    <input type="text" name="article_title" value="" placeholder="article title here">
    <input type="text" name="article" value="" placeholder="about your business..">
    <input id="articlesubmit" class="btn waves-effect waves-light" type="submit" value="Submit"/>
  </form>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'app.js' %}"></script>
  <script src="{% static 'materialize.js' %}"></script>
  </body>
</html>
