{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Web Chef</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'materialize.css' %}"  media="screen,projection"/>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <main>
      <div class="landing-content">
        <header>
          <h1 id="black-text">WEB CHEF</h1>
        </header>
        <div class="buttonbox">
          <a class="waves-effect red lighten-1 btn-large" href="login/">Log In</a>
          <a class="waves-effect red lighten-1 btn-large" href="signup/">Sign Up</a>
        </div>
      </div>
    </main>

    <script type="text/javascript" href="{% static 'app.js' %}"></script>
  </body>
</html>
